.env

# The creator of Advent of Code would like the users to not publish the inputs.
# "If you're posting a code repository somewhere,
# please don't include parts of Advent of Code like the puzzle text or your inputs."
# See https://adventofcode.com/about
*input.txt


# Gradle
/java/build/
.gradle/


# IntelliJ
*.iml
.idea/


# Python
.venv/
__pycache__/


# R
.Rproj.user
R.Rproj
