# Cookie for automatically downloading the input
session_cookie.txt

# The creator of Advent of Code would like the users to not publish the inputs.
# "If you're posting a code repository somewhere,
# please don't include parts of Advent of Code like the puzzle text or your inputs."
# See https://adventofcode.com/2025/about
*input.txt


# IntelliJ
*.iml
.idea/


# Python
.venv/
__pycache__/


# R
.Rproj.user
