__pycache__/
.idea/
.Rproj.user
.venv/

# Cookie for automatically downloading the input
session_cookie.txt

# The creators of Advent of Code would like the users to not publish
# the inputs. This is because they are concerned that someone could
# reverse-engineer how they are randomly generated. Also, to my
# knowledge the inputs are not licensed for redistribution.
*input.txt
